[user]
	email = git@ehcan.net
	name = Ehsan Seyedi
	signingkey = ~/.ssh/github-commit-sign-key.pub

[init]
	defaultBranch = master

[pull]
	rebase = false

[core]
	excludesFile = ~/.global-gitignore

[gpg]
	format = ssh

[commit]
	gpgsign = true
