[user]
	email = git@ehcan.net
	name = Ehsan Seyedi
	signingkey = ~/.ssh/github-commit-sign-key.pub

[init]
	defaultBranch = master

[pull]
	rebase = false

[core]
	excludesFile = ~/.global-gitignore
	pager = delta

[gpg]
	format = ssh

[commit]
	gpgsign = true

[interactive]
	diffFilter = delta --color-only

[merge]
	conflictStyle = zdiff3

[delta]
	navigate = true
	dark = true
    side-by-side = true
